# OS
.DS_Store

# Dependencies
node_modules/

# Build
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local

# Logs
*.log

# Python
__pycache__/
*.pyc

# Submodules
mass_user_adition/team-weaver/
